{% extends "base.html" %}
{% block content %}
<head>
    <title>Flaskグラフ</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <canvas id="myChart"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
       
    var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels | tojson }},
                datasets: [{
                   
    label: 'My Data',
                    data: {{ data | tojson }},
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ],
                 
      borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ],
                    borderWidth: 1
                }]
            },
              
 // ... その他オプション
        });
    </script>
</body>
{% endblock %}